In [22]:
import pandas as pd # type: ignore
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'],
    'Age': [25, 30, 35, 28, 32],
    'City': ['London', 'New York', 'Paris', 'Paris', 'Sydney'],
    'Salary': [60000, 75000, 80000, 70000, 65000]
}
df = pd.DataFrame(data)
df.loc[0:5, 'City': 'Salary'] #name positions
df.iloc[0:5, 2:4] #integer positions

df.loc[0:2, [True, True, False, True]]

df[df['Age']>30]

      Name  Age    City  Salary
2  Charlie   35   Paris   80000
4     Emma   32  Sydney   65000