In [13]:
import pandas as pd # type: ignore
data = {
    'Product_ID': [101, 102, 103, 104, 105],
    'Product_Name': ['Laptop', 'Smartphone', 'Tablet', 'Headphones', 'Smartwatch'],
    'Category': ['Electronics', 'Electronics', 'Electronics', 'Accessories', 'Electronics'],
    'Price': [1200, 800, 400, 100, 300],
    'Quantity_Sold': [50, 100, 80, 200, 120]
}

df = pd.DataFrame(data)


df['Total'] = df['Price']* df['Quantity_Sold']
df['Total'].sum()

df.loc[2 , 'Price'] = pd.NA
df.loc[3 , 'Quantity_Sold'] = pd.NA

df['Price'] = df['Price'].fillna(df['Price'].mean())
df['Quantity_Sold'] = df['Quantity_Sold'].fillna(df['Quantity_Sold'].mean())
df_dropped = df.dropna()
df

   Product_ID Product_Name     Category   Price  Quantity_Sold  Total
0         101       Laptop  Electronics  1200.0           50.0  60000
1         102   Smartphone  Electronics   800.0          100.0  80000
2         103       Tablet  Electronics   600.0           80.0  32000
3         104   Headphones  Accessories   100.0           87.5  20000
4         105   Smartwatch  Electronics   300.0          120.0  36000